body {
	margin: 0;
	padding: 0;
	font-family: var(--font-english), sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: var(--grey);
	display: flex;
	flex-direction: column;
	height: 100%;
}

body:dir(rtl) {
	font-family: var(--font-arabic), sans-serif;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
}
