:root {
	--color-primary: #f00;
	--color-secondary: #000;
	--color-tertiary: #daa528;
	--color-quaternary: #fff;
	--color-grey-dark: #373737;
	--color-background: #f5f5f5;
	--font-bold: 600;
	--font-light: 300;
	--font-english: 'Work Sans';
	--font-arabic: 'GE SS Two';

	--red-700: #cc0000;
}
