div Stylight Currency Converter
	span
		form(action='./')
			p Amount:
			input(type='text')
			p Source currency:
			input(type='text' value='EUR')
			p Target currency:
			input(type='text' value='USD')
		p Result: